profiles {

    pbs {
        process.executor = 'pbs'
        process.clusterOptions = '-l mem=4GB,nodes=1:ppn=1,walltime=2:30:00 -j eo -V'
    }
    singularity {
        process.container = 'aylab/fithichip'
        singularity.enabled = true
    }
    docker {
        process.container = 'aylab/fithichip'
        docker.enabled = true
    }

}
